* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    
    background-position: 100%; 
  }
.h1
{
	text-align: center;
	color: white;
    font-size: 50px;
    font-weight: bolder;
	padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 2px 10px black;
}
.h12{
    border-style: solid px; 
     text-shadow: 0px 2px 10px black;
      color: white;
      font-size: 20px;
       text-align:center;
}
.contact1{
    height: 100%;
   /* background: -webkit-linear-gradient(left,#0072ff,#00c6ff);*/
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


@media screen and (max-width:600px)
{
    .h1
    {
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: bolder;
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: 0px 2px 10px black;
    }
    .h12{
        border-style: solid px; 
         text-shadow: 0px 2px 10px black;
          color: white;
          padding:10px;
          font-size: 15px;
           text-align:center;
    }
    .contact1{
        height: 100%;
       /* background: -webkit-linear-gradient(left,#0072ff,#00c6ff);*/
       display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: contents;
    }
    
    
}






.sidee{
    margin-right:50px;
    border-style: outset;
    border-radius: 50px;
}

.container-contact1 {
   
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px 50px 100px;
}
.map{
    border-radius: 50px;
}
@media screen and (max-width:600px)
{
    .container-contact1 {
   
        background-color: #fff;
        border-radius: 10px;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 20px 20px;
     
        height: 120%;
        widows: 100%;
        position:static;
    }

    .map{
       
        
        width: 120%;
        height: 50%;
        
        
    }
   
    
    

}

@media screen and (max-width:600px)
{
    input.input1{
        border-radius:25px;
       height:40px;
       padding:0 30px;
   }
   .input1 {
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background:  #e6e6e6 ;
    color:#666;
    font-size:15px;
    line-height: 1.5;
    width:100%;
    border-radius:25px;
}
  
}

.contact-title {
    display: block;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-bottom: 30px;
    color: black;
    font-size: 23px;
    line-height:1.2;
    font-weight: bold;

}

input.input1{
    border-radius:25px;
    height:40px;
    padding:0 30px;
}

.input1 {
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background:  #e6e6e6 ;
    color:#666;
    font-size:15px;
    line-height: 1.5;
    width:100%;
    border-radius:25px;
}

.wrap-input1{
    margin-bottom:20px;
    align-items: center;
}

textarea.input1{
    min-height:110px;
    border-radius:25px;
    padding:12px 30px;
}

.contact-button{
    background-color:rgb(50, 250, 150);
    border-radius:25px;
    height:40px;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    font-weight: bolder;
    width:50%;
    justify-content: center;
    text-align:center;
}

input{
    outline: none;
    border: none;
}


textarea{
    outline: none;
    border: none;
}

img {
    border-radius: 25px;
    display: block;
  
    width: 50%;
}